.header {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    min-height: 720px;
    max-height: 800px;
    padding: 30px 80px;
    box-sizing: border-box;
}
  
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
}
  
.logo {
    width: 125px;
    height: 142px;
    position: absolute;
    top: 30px;
    left: 80px;
}
.logo {
    width: 120px;
    height: auto;
}


.header__title {
    margin: 150px 0 0;
    font-size: 60px;
    line-height: 72px;
    max-width: 729px;
}

.header__span {
    font-family: 'Noto Serif', 'Times New Roman', serif;
    font-style: italic;
    color: #2F80ED;
    display: block;
}

.header__description {
    max-width: 683px;
    font-size: 20px;
    line-height: 30px;
    margin: 28px 0 0;
}

.header__footer {
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    box-sizing: border-box;
}

.header__hours {
    margin: 0;
    line-height: 20px;
}

.header__paragraph {
    font-weight: bold;
}

.header__address {
    margin: 0;
    line-height: 20px;
}

.header__image {
    position: absolute;
    top: 124px;
    right: 5px;
    width: 646px;
    height: 568px;
}

.header__image-content {
    width: 100%;
    height: 100%;
    object-fit: cover;
}